@model IEnumerable<Cinema_Client.TICKETS>

@{
    ViewBag.Title = "Cennik";
}

<h2><myTitle>Cennik</myTitle></h2>

<table class="table-hover table" style="width:40%; height:auto">
    <tr>
        <th>
            RODZAJ
        </th>
        <th>
            CENA 2D
        </th>
        <th>
            CENA 3D
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TYPE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PRICE_2D)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PRICE_3D)
            </td>
        </tr>
    }

</table>
