@{
    ViewBag.Title = "About";
}
<h2><myTitle>O projekcie</myTitle></h2>

<p>Aplikacja stworzona dla użytkowników małego kina, dzięki której jest możliwość zapoznania się z ofertą kina oraz zarezerwowania biletu.</p>
