@{
    ViewBag.Title = "Kontakt";
}
<h2><myTitle>Kontakt</myTitle></h2>

<address>
    Monika: <a href="https://github.com/gradzka/">https://github.com/gradzka/</a> <br />
    Robert: <a href="https://github.com/kazimierczak-robert/">https://github.com/kazimierczak-robert/</a> <br />
    <!--abbr title="Phone">P:</!--abbr>-->
</address>