@{
    ViewBag.Title = "Home Page";
}

<table style="width:100%">
    <tr>
        <td style="width:30%" align="right"> </td>
        <td style="width:40%" align="center">
            <myTitle><br />TERAZ GRANE</myTitle>
        </td>
        <td style="width:30%" align="left"> </td>
    </tr>    
</table>